jobs: 75
cluster:
  mkdir -p logs/{rule} &&
  sbatch
    --partition={resources.partition}
    --qos={resources.qos}
    --cpus-per-task={threads}
    --mem="{resources.mem_gb}"
    --job-name=smk-{rule}-{wildcards}
    --time={resources.time}
    --output=logs/{rule}/{rule}-{wildcards}-%j.out
    --verbose
default-resources:
  - account=kima
  - partition=inv-iranui-fast,inv-iranui
  - qos=normal
  - time="02:00:00"
  - mem_gb=8
  - threads=4
restart-times: 5
max-jobs-per-second: 10
max-status-checks-per-second: 1
local-cores: 4
latency-wait: 6000
keep-going: True
rerun-incomplete: True
printshellcmds: True
scheduler: greedy
use-conda: True
use-singularity: True
reason: True
cluster-cancel: scancel